<md-toolbar>

    <!--img class="header-img" src="{{ avatarSrc$|async }}" alt="">
    <span>{{ userName$|async }}</span-->
    <span class="spacer"></span>



    <button md-icon-button class="header-item" mdTooltip="Home" (click)="navigate('home')">
        <md-icon>home</md-icon>
    </button>


    <button md-icon-button class="header-item" mdTooltip="Gallery" (click)="navigate('gallery')">
        <md-icon>landscape</md-icon>
    </button>


    <button md-icon-button class="header-item" mdTooltip="Contact" (click)="navigate('contact')">
        <md-icon>perm_contact_calendar</md-icon>
    </button>


</md-toolbar>